body {
    font-family: "Poppins", sans serif;
    background-color: #cfdef3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: #cfdef3;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
    text-align: center;
}

.h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.contador {
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;  
}

.h2 {
    font-size: 48px;
    margin: 0;
    color: #333; 
}

.GrupoBoton {
    display: flex;
    gap: 18px;
}

.boton {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color:#cfdef3
}

.incrementar{
    background-color: #6a11cb;
}

.disminuir{
    background-color: #ff416c;
}

.restablecer{
    background-color: #0072ff;
}

.boton:hover {
    opacity: 0.9;
}